.main-discover-center{
    display: flex;
    justify-content: center;
}

.box-discover{
    width: 70vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px
}

.Message-center{
    /* background-color: aqua; */
    width: 20vw;
    height: 50vw;
    display: flex;
    flex-direction: column;
    border-right: 1px solid hsla(0, 0%, 81%, 0.577);
    border-left: 1px solid hsla(0, 0%, 81%, 0.577);

}

.Message-innerbox{
    margin: 0px 15px 0px 15px;
}

.Discover-nav{
    /* background-color: blue; */
    width: 50vw;
    height: 7vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.discover-nav-left{
    display: flex;
    /* justify-content: center;
    align-items: center; */

}

.discover-nav-right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Nav-button2{
    width: 92px;
    height: 32px;
    border-radius: 18px;
    border: none;
    box-shadow: none;
    /* background-color: hsla(237, 62%, 35%, 0.79); */
    font-weight: 400;
    font-size: 16px;
    color: white;
    font-family: sans-serif;
    /* margin-bottom: 10px; */
    /* margin-left: 10px; */
    background-color: hsla(254, 74%, 32%, 0.878);
    /* padding-top: 11px; */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Nav-button2:hover{
    cursor: pointer;
    background-color:hsla(237, 62%, 35%, 0.85) ;
}

.Nav-button2:active{
    cursor: pointer;
    background-color:hsl(237, 62%, 35%) ;
}

.User-avatar-container{
    display: flex;
    flex-direction: row;
    margin: 15px 0px 15px 0px;
}

.User-avatar{
    width: 60px;
    height: 60px;
 
}

.Search-matches{
    width: 95%;
    align-self: center;
    border-radius: 5px;
    height: 25px;
    border: none;
    padding: 13px;
    background: hsla(0, 0%, 94%, 0.701);

}

.Matched-user{
    display: flex;
    flex-direction: row;
    margin: 15px 0px 15px 0px;

}
.name{
    font-family: sans-serif;
    font-size: 15px;
    /* background-color: azure; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}
ul{
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.new{
    
    font-family: sans-serif;
    font-size: 15px;
    /* background-color: azure; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    
    
}
.user-icon{
    font-weight: 900;
    color: black;
    font-family: FontAwesome;
}
.picture-bio-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 45vw;
}
.picture-bio-inner-container{
    height: 32vw;
    width: 50vw;
    /* background-color: red; */
    border-radius: 5px;
     box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
     display:flex;
}

.picture-container{
    
    width: 25vw;
}

.bio-container{
background-color:hsla(254, 74%, 32%, 0.878);
width: 25vw;
border-radius: 5px;
}

.Nav-bar-welcome{
    font-family: sans-serif;
    font-weight: 400;
    width: 100px;
    /* height: 35px; */
    vertical-align: text-bottom;
    display: flex;
    align-items: center;
}